div#stack-wrapper {
    width: 100%;
    padding-top: 80px;
}

div#stack-kit-wrapper > div:first-child {
    padding-bottom: 40px;
}

div#stack-kit-wrapper > div:first-child > span {
    display: block;
    font-size: 28px;
}

div#stack-kit {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5%;
}

div.stack-tech {
    width: 20%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

div.stack-tech > svg {
    width: 40px !important;
    height: 40px !important;
}

div.stack-tech > h5 {
    margin: 0;
    padding-top: 4px;
    font-size: 14px;
    font-weight: normal;
    color: var(--text-shadow-color);
}

@media (max-width: 730px) {
    div.stack-tech {
        width: 30%;
    }
}
